@import "font_size"

@font-face 
    font-famly: "OpenSans"
    src: url("/./assets/fonts/OpenSans.ttf")

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap')

.header
    font-family: OpenSans, sans-serif
    background: #2ea18a
    height: 100vh
    width: 100%
    #main-menu
        width: 20%
        height: 70vh
        background: #fff
        display: flex
        flex-direction: column
        padding-top: 3vh
        margin-left: 10%
        position: relative
        img
            object-fit: contain
        .sitename
            font-family: 'Lobster', cursive
            font-size: 44pt
            color: #33a088
            border-bottom: 1px solid #e5e5e5
            padding-bottom: 6%
        ul
            display: flex
            flex-direction: column
            margin-top: 0
            padding-left: 20%
            text-align: left
            li
                margin-top: 3vh
                display: block
                text-decoration: none
                a
                    text-decoration: none
                    font-size: $medium-font-size
                    color: #7e7e7e    
        &:after
            content: ""
            position: absolute
            width: 100%
            height: 5vh
            margin-top: 69.98vh
            background: linear-gradient(to right top, transparent 49.5%, #fff 50%) left / 50.025% 100% no-repeat, linear-gradient(to left top, transparent 49.5%, #fff 50%) right / 50.025% 100% no-repeat

#main_spinner
    width: 60%
    margin-right: 10%
    position: fixed
    top: 0
    right: 0
    .spinner_item
        margin-top: 30vh
        display: flex
        flex-direction: column
        .spinner_images
            width: 80%
            margin-left: 10%
            margin-bottom: 5vh
            display: flex
            flex-direction: row
            justify-content: space-around
        span
            font-size: $large-font-size
            color: #fff
        .spinner_button
            text-transform: uppercase
            font-size: $large-font-size
            background: transparent
            color: #fff
            border: 2px solid #fff
            border-radius: 6px
            width: 40%
            padding: 10px
            margin-top: 6vh
            margin-left: 30%
    .spinner_toogle_button
        width: 20px
        height: 20px
        border-radius: 10px
        border: 1px solid transparent
        margin-left: 2%
        margin-top: 10%
        background: #ffffff
        &:hover
          background: #eec
          cursor: pointer
          bottom: 0  
          margin-top: auto
    .spinner_toogle_button_active
        width: 20px
        height: 20px
        border-radius: 10px
        border: 1px solid transparent
        margin-left: 2%
        background: #008170

        