<template>
    <div class="header">
        <div id="main-menu">
            <img src="./../assets/img/pinwall_logo.png" alt="This is Pinwall">
            <span class="sitename">Pinwall</span>
            <ul>
                <li><a href="">Designing</a></li>
                <li><a href="">Development</a></li>
                <li><a href="">Inspiration</a></li>
                <li><a href="">Freebies</a></li>
                <li><a href="">Cssauthor</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div id="main_spinner">
            <ul>
                <li class = "spinner_item" >
                    <div class="spinner_images">
                        <img v-for="im_el in head_elements[viewSpinnerElement].images" :src="publicPath + im_el.src" :key="im_el.id">
                    </div>
                    <span>{{ head_elements[viewSpinnerElement].text }}</span>
                    <button class = "spinner_button">{{ head_elements[viewSpinnerElement].button_text }}</button>
                </li>
            </ul>
            <button v-bind:class = "[elem.id-1 == viewSpinnerElement ? 'spinner_toogle_button_active' : 'spinner_toogle_button']" :id = "'toogle-' + elem.id" v-on:click="changeActiveSpinnerElement(elem.id)" v-for="elem in head_elements" :key="elem.id" />
        </div>
    </div>
</template>

<script>
import Pinwall_heder_el from "@/pinwall_classes"

var head_elements = [
    new Pinwall_heder_el(1,"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard", [{src: "images/twitter.png"}, {src: "images/dribbble.png"}, {src: "images/camera.png"}], true, "Social media"),
    new Pinwall_heder_el(2,"amet porttitor eget dolor morbi non arcu risus quis varius quam quisque id diam vel quam elementum pulvinar etiam", [{src: "images/twitter.png"}, {src: "images/dribbble.png"}, {src: "images/camera.png"}], true, "Social media"),
    new Pinwall_heder_el(3,"purus ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper quis lectus nulla at volutpat diam", [{src: "images/twitter.png"}, {src: "images/dribbble.png"}, {src: "images/camera.png"}], true, "Social media")
]

export default {
    data: function(){
        return {
            head_elements,
            publicPath: process.env.BASE_URL,
            viewSpinnerElement: 0
            }
    },
    methods: {
        changeActiveSpinnerElement: function(id){
            this.viewSpinnerElement =  id-1;
        }
    }
}

</script>

<style scoped lang="sass">
@import "../style/pinwall"
</style>