<template>
  <div id="app">
    <PinWall />
  </div>
</template>

<script>
import PinWall from './components/PinWall.vue'

export default {
  name: 'app',
  components: {
    PinWall
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
</style>
